<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/stylesheets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/PinClipart.com_poker-clip-art_211390.png" type="image/x-icon">




  </head>
  <body>
    <!-- TITLE is being pulled by data in index.js -->
    <header>
       <!-- <h2>EXAMPLE</h2> -->
       <nav>
         <ul>
           <li class="logo"><span>TALK <span class="space">SPACE</span></span></li>
              <span class="right-nav">
                  <li><a href="#">Archives</a></li>
                  <li><a href="#">Login In</a></li>
                  <li><a href="#">Sign Up</a></li>
                  <li><a href=""> <span><input placeholder="Search here..." type="text"></span> <i class="fas fa-search"></i></a></li>
              </span>
         </ul>
       </nav>

       <section class="hero">
        <h1><%= welcomeText %></h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates similique adipisci, earum, cupiditate quam officia dolorum, voluptas veniam doloribus dolores ducimus? Delectus, omnis corrupti vero hic harum dicta necessitatibus dolorem!</p>


        <!-- <button class="find">Find More</button> -->
       </section>
    </header>



    <div class="container">

      <section class="grid-pics">
        <article class="pics"> <a href="#man-baby"><img src="/images/baby-22194_1920.jpg" alt=""></a> </article>
        <article class="pics"> <a href="#lovers"><img src="/images/people-2561053_1920.jpg" alt=""></a> </article>
        <article class="pics"> <a href="#worship"><img src="/images/audience-868074_1920.jpg" alt=""></a> </article>
      </section>

      <!-- Back to Top Button -->
      <a id="button" class="back-top-btn" href="#"><i class="fas fa-chevron-up"></i></a>

      <section id="man-baby" class="intro">
        <article class="intro-image"><img src="/images/baby-22194_1920.jpg" alt=""></article>

        <article class="intro-text">
          <h1>lorem </h1>
          <hr>
          <p class="info"><span class="author">Justin Creighton</span> 04 April 2019</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, earum aliquid non maiores maxime sit aspernatur, culpa temporibus accusamus quis animi deleniti nostrum! Doloremque pariatur deleniti labore, velit nisi quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ut beatae aut blanditiis, saepe non, quibusdam eligendi consequuntur doloribus iure neque officiis autem molestias, architecto quidem! Omnis eius dolores sequi!</p>

          <a href="#">Read More</a>
        </article>
      </section>

      <hr class="break-line">

      <section id="lovers" class="second-blog">
        <article class="sec-text">
            <h1>Param</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus fuga quod voluptatem maxime iusto exercitationem sint quidem dolore doloribus at reiciendis mollitia, accusamus deleniti soluta cumque dolor suscipit eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit expedita unde facilis nam amet dolores itaque eaque reiciendis necessitatibus id, magni similique, eum, ullam quaerat dolorem aliquam esse culpa officia!</p>
  
            <a href="#">Read More</a>
        </article>

        <article class="sec-image"><img src="/images/people-2561053_1920.jpg" alt=""></article>


      </section>

      <hr class="break-line">

      <section id="worship" class="intro">
          <article class="intro-image"><img src="/images/audience-868074_1920.jpg" alt=""></article>
  
          <article class="intro-text">
            <h1>lorem </h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, earum aliquid non maiores maxime sit aspernatur, culpa temporibus accusamus quis animi deleniti nostrum! Doloremque pariatur deleniti labore, velit nisi quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ut beatae aut blanditiis, saepe non, quibusdam eligendi consequuntur doloribus iure neque officiis autem molestias, architecto quidem! Omnis eius dolores sequi!</p>
  
            <a href="#">Read More</a>
          </article>
      </section>

      <% posts.posts.forEach(function (item) { %>
        <section id="man-baby" class="dynamic">
          <article class="dynamic-image"><img src="<%= item.image %>" alt=""></article>
  
          <article class="dynamic-text">
            <h1><%= item.title %></h1>
            <hr>
            <p class="info"><span class="author"> <%= item.author %> </span> <%= item.date %> </p>
            <p> <%= item.description %> </p>
  
            <a href="#">Read More</a>
          </article>
        </section>

        <hr class="break-line">
      <% }); %>

      <footer></footer>

    </div>

    <!-- Link My JQUERY -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <!-- Link My Js -->
    <script src="/javascripts/main.js"></script>

  </body>
</html>
